/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

:root {
  --main-bg-color: gray;
  --text-color: white;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  margin: 0;
  background-color: #232c39;
  background-image: linear-gradient(
    45deg,
    rgba(0, 216, 255, 0.5) 10%,
    rgba(0, 1, 127, 0.7)
    );
    font-family: Arial, Helvetica, Helvetica Neue, serif;
    overflow-y: hidden;
  }
  
  h2 {
    margin: 0;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: #fff;
  }
  
  p {
    font-size: 24px;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: white;
    opacity: 0.75;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Bread__btn {
    border: 0;
    background: transparent;
    color: var(--text-color);
    padding: 0.7rem 0;
    font-size: 1rem;
  }

  .Bread__btn:active {
    outline: 0;
  }

  .Bread__btn:hover ~ .Bread__btn {
    opacity: 0.5;
  }

  .Segment__path {
    stroke-width: 0.5;
    stroke: rgb(25, 77, 46);
    fill: rgb(143, 153, 102);
  }
  .Segment__path:hover {
    fill: rgb(153, 113, 102);
  }

  .u-noPointerEv {
    pointer-events: none;
  }